* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin-left: 25%;
}

.grid-container {
  display: grid;                    /* Utilisation de la grille CSS */
  grid-template-columns: repeat(3, 1fr); /* Trois cartes par ligne */
  gap: 20px;                       /* Espacement entre les cartes */
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px 0 40px;
}

.card img {
  width: 100%;
  height: 200px;                   /* Hauteur constante pour les images */
  object-fit: cover;               /* Adapter l'image sans déformation */
}

.card-content {
  padding: 15px;
}

.published-by {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}

.card-actions {
  margin-top: 10px;
}

.my-btn {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #31287C;       /* Couleur personnalisée pour le bouton */
}

/* Media Queries pour la réactivité */
@media (max-width: 768px) {

  .container {
    max-width: 700px;
    margin: 0;
    /* padding: 20px; */
  }

  /* Grid */
  .grid-container {
    gap: 20px;
    margin-left: 75px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* Une carte par ligne */
  }
}
