<app-sideheaders></app-sideheaders>

<div *ngIf="declarations.length === 0">
  <p>Aucune déclaration disponible.</p>
</div>

<div class="container" *ngIf="declarations.length > 0">
  <div class="grid-container">
    <div *ngFor="let declaration of declarations; let i = index" class="card">
      <img src="/assets/declaration.png" alt="Document Image" />
      <div class="card-content">
        <p><strong>{{ declaration.Title }}</strong></p>
        <p class="published-by">Déclaré par {{ declaration.user.FirstName }} {{ declaration.user.LastName }} le {{ declaration.created_at | date }}</p>
        <p>📞 : <strong>{{ declaration.user.Phone }}</strong></p>
        <p>Document: <strong>{{ declaration.document_type.TypeName }}</strong></p>
        <p>Prénom exacte : <strong>{{ declaration.FirstNameInDoc }}</strong></p>
        <p>Nom exacte : <strong>{{ declaration.LastNameInDoc }}</strong></p>
        <div class="card-actions">
          <button class="my-btn" (click)="deleteDeclaration(declaration.id)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Contrôles de pagination -->
  <div class="pagination-controls">
    <button (click)="pageChanged(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
    <button (click)="pageChanged(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
  </div>


<!-- <app-footer></app-footer> -->
