<app-sidebar></app-sidebar>

<div class="header">
  <div class="header-right">
    <!-- <div class="search-bar">
      <input type="text" placeholder="Rechercher..." />
      <i class="fas fa-search"></i>
    </div> -->

    <!-- Icône de notification -->
    <div class="notification-icon">
      <i class="fas fa-bell"></i>
    </div>

    <!-- Dropdown utilisateur -->
    <div *ngIf="authService.isAuthenticated()" ngbDropdown>
      <button class="btn btn" ngbDropdownToggle style="background-color:#31287C; margin-left: 40%;">
        <i class="fas fa-user"></i>
        <span class="user-name mr-2" style="color: white; font-weight: bold;">
          {{ authService.getUserName() }}
        </span>
      </button>
      <div ngbDropdownMenu>
        <a class="dropdown-item" href="/modify" (click)="goToChangePassword()">Modifier mon profil</a>
        <a class="dropdown-item" href="/connexion" (click)="logout()">Déconnexion</a>
      </div>
    </div>
  </div>
</div>
