.header {
  background-color: #F6A500;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: white;
  position: relative;
  width: 87%;
  margin-left: 13%;
}

.header-right {
  display: flex;
  align-items: center;
}

.scroll-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-icon {
  font-size: 20px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.notification-icon:hover {
  color: #31287C;
}

.user-icon {
  margin-right: 8px;
  font-size: 20px;
  color: white;
}

.user-name {
  color: white;
  font-weight: bold;
}

.dropdown-toggle {
  background-color: #31287C;
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
}

.dropdown-menu {
  background-color: #fff;
}

.dropdown-item:hover {
  background-color: #F6A500;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  /* Header responsif pour mobile */
  .header {
    width: 78.5%;
    margin-left: 20.5%;
    flex-direction: column;
    align-items: flex-start;
  }

  .scroll-text {
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }

  marquee {
    font-size: 16px;
  }

  .header-right {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .notification-icon {
    font-size: 18px;
    margin-right: 10px;
  }

  .user-name {
    font-size: 16px;
    margin-right: 5px;
  }

  .dropdown-toggle {
    font-size: 16px;
    padding: 5px 10px;
  }

  .dropdown-menu {
    font-size: 14px;
  }
}
