.header {
  background-color: #F6A500;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: white;
  position: relative;
  width: 87%;
  margin-left: 13%;
}

.header-right {
  display: flex;
  align-items: center;
}

.scroll-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-icon {
  font-size: 20px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.notification-icon:hover {
  color: #31287C;
}

.user-icon {
  margin-right: 8px;
  font-size: 20px;
  color: white;
}

.user-name {
  color: white;
  font-weight: bold;
}

.dropdown-toggle {
  background-color: #31287C;
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
}

.dropdown-menu {
  background-color: #fff;
}

.dropdown-item:hover {
  background-color: #F6A500;
  font-weight: bold;
}
