<app-navbar></app-navbar><br><br><br><br>
<section class="policy-section">
  <div class="container">
    <h1 class="policy-title">Politique de Confidentialité</h1>
    <p class="policy-intro">
      Votre confidentialité est importante pour nous. Cette politique de confidentialité décrit comment nous collectons,
       utilisons et protégeons vos informations. En utilisant notre plateforme, vous acceptez les pratiques décrites ici.

      La mission principale de notre plateforme est de faciliter la mise en relation entre les personnes ayant perdu des documents d’identité et celles les ayant retrouvés.
    </p>

    <!-- 1. Collecte des données -->
    <div class="policy-item">
      <h2>1. Collecte des Données</h2>
      <p>
        Nous collectons les informations suivantes :
      </p>
      <ul>
        <li>Nom et prénom</li>
        <li>Adresse email</li>
        <li>Mot de passe</li>
        <li>Informations sur les documents : type de document perdu (ex. : carte d’identité, passeport).</li>
        <li>Autres informations fournies pour faciliter la mise en relation.</li>
      </ul>
    </div>

    <!-- 2. Utilisation des données -->
    <div class="policy-item">
      <h2>2. Utilisation des Données</h2>
      <p>
        Vos données personnelles sont utilisées dans les cas suivants :
      </p>
      <ul>
        <li>Vous authentifier et sécuriser votre compte utilisateur.</li>
        <li>Envoi de notifications en cas de correspondance ou de demande de restitution.</li>
        <li>Faciliter la mise en relation entre les parties concernées.</li>
        <li>Améliorer les services et fonctionnalités de notre plateforme.</li>
      </ul>
    </div>

    <!-- 3. Partage des données -->
    <div class="policy-item">
      <h2>3. Partage des Données</h2>
      <p>
       <strong>Mise en relation entre utilisateurs </strong><br>
        Lorsque vous publiez une annonce concernant un document perdu ou trouvé, certaines informations
        personnelles (nom, prénom, adresse e-mail) peuvent être incluses dans les notifications envoyées
        à l’autre partie pour faciliter la prise de contact.
      </p>
      <p><strong>Limitation de responsabilité lors des échanges physiques</strong><br>
        Nous vous rappelons que la plateforme ne garantit pas votre sécurité physique lors de rencontres en
        personne pour la restitution des documents. Toute rencontre doit être organisée dans un lieu public sûr.
        La plateforme décline toute responsabilité en cas d’agression, demande de rançon ou tout autre problème
        survenant lors de ces échanges.</p>

      <p><strong>Conformité légale</strong><br>
        Si nous sommes tenus par la loi de fournir des informations (par exemple, dans le cadre d’une enquête judiciaire),
        nous respecterons ces obligations.</p>
        <p><strong>Nous ne vendons pas vos informations personnelles à des tiers.</strong></p>
    </div>

    <!-- 4. Responsabilité -->
    <div class="policy-item">
      <h2>4. Protection des données</h2>
      <p>
        Pour protéger vos données :
      </p>
      <ul>
        <li>Les mots de passe sont cryptés avant d’être stockés dans nos bases de données.</li>
        <li>Les communications entre l’application et nos serveurs utilisent des connexions sécurisées (HTTPS).</li>
        <li>Seules les personnes autorisées ont accès aux informations sensibles.</li>
      </ul>
    </div>

    <!-- 5. Vos droits -->
    <div class="policy-item">
      <h2>5. Vos Droits</h2>
      <p>
        Vous disposez des droits suivants
      </p>
      <ul>
        <li>Accéder aux informations que nous avons collectées à votre sujet.</li>
        <li>Rectifier des données incorrectes ou incomplètes.</li>
        <li>Supprimer vos données personnelles (sous réserve d’obligations légales).</li>
      </ul>
      <p>Pour exercer vos droits, veuillez nous contacter à <a href="#"><strong>sendoctrack&#64;gmail.com </strong></a> </p>
    </div>


     <!-- 6. Precautions -->
     <div class="policy-item">
      <h2>6. Précautions lors des interactions entre utilisateurs</h2>
      <p>
        Vous disposez des droits suivants
      </p>
      <ul>
        <li>Nous vous encourageons à privilégier les lieux publics sûrs pour organiser vos rencontres.</li>
        <li>Ne partagez jamais d'informations financières ou sensibles avec d'autres utilisateurs.</li>
        <li>Si une demande de rançon ou de paiement vous est adressée pour la restitution d’un document,
           nous vous invitons à signaler immédiatement l’incident aux autorités locales et à nous en informer</li>
      </ul>
    </div>

       <!-- 7. Cookies et technologies similaires -->
       <div class="policy-item">
        <h2>7. Cookies et technologies similaires</h2>
        <p>
          Nous utilisons des cookies et des technologies similaires pour
        </p>
        <ul>
          <li>Maintenir votre session utilisateur active.</li>
          <li>Suivre les performances et améliorer l’expérience utilisateur.</li>
        </ul>
        <p>Vous pouvez désactiver les cookies via votre navigateur</p>
      </div>

      <!-- 8. Modifications et mises à jour -->
      <div class="policy-item">
        <h2>8. Modifications et Mises à Jour</h2>
        <p>
          Cette politique de confidentialité peut être modifiée à tout moment. Nous vous informerons de ces modifications via
          l'adresse email <a href="#"><strong>sendoctrack&#64;gmail.com </strong></a> et nous vous encouragerons à consulter
          cette page régulièrement pour les dernières mises à jour.
        </p>
      </div>

  </div>
</section>
