<app-navbar></app-navbar>
<section class="Formulaire">
  <div class="container" id="form">
    <div class="form-container" >
      <h2>Nouveau mot de passe</h2>
      <form  class="test">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" placeholder="ne98hjoij@" required>

        <label for="password_confirmation">Confirmer le mot de passe</label>
        <input type="password" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirmer le mot de passe" required>
        <button type="submit">Envoyer</button>
      </form>
    </div>
  </div>

  <div class="carteImage">
    <img src="/assets/Drapeau_national1.png" alt="CBAO" class="carte">
  </div>
</section>

