<app-navbar></app-navbar>
<section class="Formulaire">
  <div class="container" id="form">
    <div class="form-container">
      <h2>Nouveau mot de passe</h2>
      <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
        <label for="password" class="required">Mot de passe</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Entrez votre nouveau mot de passe"
          required
        />
        <div *ngIf="newPasswordForm.get('password')?.invalid && newPasswordForm.get('password')?.touched">
          <small>Le mot de passe doit contenir au moins 8 caractères.</small>
        </div>
        <div *ngIf="newPasswordForm.hasError('passwordsMismatch') && newPasswordForm.get('password_confirmation')?.touched">
          <small>Les mots de passe ne correspondent pas.</small>
        </div>


        <label for="password_confirmation" class="required">Confirmer le mot de passe</label>
        <input
          type="password"
          id="password_confirmation"
          formControlName="password_confirmation"
          placeholder="Confirmez votre mot de passe"
          required
        />
        <div
          *ngIf="
            newPasswordForm.get('password_confirmation')?.invalid &&
            newPasswordForm.get('password_confirmation')?.touched
          "
        >
          <small>La confirmation du mot de passe est requise.</small>
        </div>

        <button type="submit" [disabled]="newPasswordForm.invalid">Envoyer</button>
      </form>
    </div>
  </div>

  <div class="carteImage">
    <img src="/assets/Drapeau_national1.png" alt="CBAO" class="carte" />
  </div>
</section>
