<app-navbar></app-navbar>
<section class="Formulaire">
  <div class="container">
    <div class="form-container">
      <h2>Inscription</h2>
      <form class="test">
        <div class="label-container">
          <div>
            <label for="nom">Nom</label>
            <input type="text" id="nom" placeholder="Talla" required>
          </div>
          <div>
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" placeholder="Cheikh Serigne Saliou" required>
          </div>
        </div>

        <div class="label-container">
          <div>
            <label for="adresse">Adresse</label>
            <input type="text" id="adresse" placeholder="Talla" required>
          </div>
          <div>
            <label for="telephone">Numéro de téléphone</label>
            <input type="tel" id="telephone" placeholder="773 45 98 12" required>
          </div>
        </div>

        <div class="label-container">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="cheikhserignesalioutalla@gmail.com" required>
          </div>
          <div>
            <label for="motdepasse">Mot de passe</label>
            <input type="password" id="motdepasse" placeholder="********" required>
          </div>
        </div>

        <p class="question">Déjà un compte ? <a href="#">Connexion</a></p>

        <button type="submit">Inscription</button>
      </form>
    </div>
  </div>

  <div class="carteImage">
    <img src="/assets/Drapeau_national1.png" alt="CBAO" class="carte">
  </div>
</section>
