<!-- src/app/register/register.component.html -->

<app-navbar></app-navbar>
<section class="Formulaire">
  <div class="container">
    <div class="form-container">
      <h2>Inscription</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="test">
        <div class="label-container">
          <div>
            <label for="LastName">Nom</label>
            <input type="text" id="LastName" formControlName="LastName" placeholder="Saisir le nom" required>
          </div>
          <div>
            <label for="FirstName">Prénom</label>
            <input type="text" id="FirstName" formControlName="FirstName" placeholder="Saisir le prenom" required>
          </div>
        </div>
        <div class="single">
          <label for="email">Email</label>
          <input class="single-input" type="email" id="email" formControlName="email" placeholder="Saisir mon email" required>
        </div>

        <div class="label-container">
          <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password" placeholder="********" required>
          </div>
          <div class="label-container">
            <div>
              <label for="password_confirmation">Confirmer le mot de passe</label>
              <input type="password" id="password_confirmation" formControlName="password_confirmation" placeholder="********" required>
            </div>
          </div>
        </div>

        <div class="label-container">
          <div>
            <label for="Adress">Adresse</label>
            <input type="text" id="Adress" formControlName="Adress" placeholder="Saisir l'adresse" required>
          </div>
          <div>
            <label for="Phone">Numéro de téléphone</label>
            <input type="tel" id="Phone" formControlName="Phone" placeholder="Entrer votre numero" required>
          </div>
        </div>



        <p class="question">Déjà un compte ? <a href="#">Connexion</a></p>

        <button type="submit">Inscription</button>
      </form>
    </div>
  </div>

  <div class="carteImage">
    <img src="/assets/Drapeau_national1.png" alt="CBAO" class="carte">
  </div>
</section>
