body {
  font-family: Arial, sans-serif;
  background-color: #F6A500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Formulaire {
  display: flex;
  flex-wrap: wrap;
  margin: 120px;
  margin-top: 3rem;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  justify-content: center;
  max-width: 732px;
  height: auto;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-left: 7%;
  position: absolute;

}

.form-container h2 {
  text-align: center;
  color: #31287C;
  font-weight: bold;
}

.test {
  margin: auto;
  margin-left: 2%;
}

#form{
  background-color: rgba(248, 242, 242, 0.5)
}


.label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 15px 14px 2px;
  color: black;
}

input {
  width: 300px;
  height: 56px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 8px;
}
.single-input {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 8px;
}

.question {
  margin-left: 14px;
}

a {
  color: #31287C;
}

button {
  display: block;
  width: 229px;
  height: 40px;
  background-color: #31287C;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 12rem;
}

button:hover {
  background-color: #F6A500;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 20px;
}

.carteImage {
margin-left: 45%;}

@media (max-width: 480px) {
body{
  overflow-x: hidden;
}
  .Formulaire {
   width: 400px;
   overflow-x: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
  flex-wrap: wrap;
  margin:0;

  }
  .label-container {
    flex-direction: column;
  }

  input {
    width: 90%;
  }

  button {
    width: 90%; 
    margin-left: 5%;
  }

  .carteImage {
    display: none;
  }
  .container{

    padding: 0;
    width: 90%;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: 0;
    margin-top: 2rem;
    margin-left:0;
  }
  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 0;
    width: 100%;
  }

  .single-input {
    width: 90%;
  }
}
