body {
  font-family: Arial, sans-serif;
  background-color: #F6A500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Formulaire {
  display: flex;
  flex-wrap: wrap;
  margin: 200px 200px  0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  justify-content: center;
  max-width: 732px;
  height: auto;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-left: 7%;
  position: absolute;

}

.form-container h2 {
  text-align: center;
  color: #31287C;
  font-weight: bold;
}

.test {
  margin: auto;
  margin-left: 2%;
}

#form{
  background-color: rgba(248, 242, 242, 0.5)
}


.label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 15px 14px 2px;
  color: black;
}

input {
  width: 300px;
  height: 56px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 8px;
}
.single-input {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 8px;
}

.question {
  margin-left: 14px;
}

a {
  color: #31287C;
}

button {
  display: block;
  width: 229px;
  height: 40px;
  background-color: #31287C;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 12rem;
}

button:hover {
  background-color: #F6A500;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 20px;
}

.carteImage {
margin-left: 45%;}

/* Mobile Styles */
@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .Formulaire {
    margin: 115px 0 0 0;
  }

/*   .container {
    margin: 0;
    padding: 20px;
    width: 100%;
    position: relative;
    box-shadow: none;
  } */

  .form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  label {
    margin: 10px 0 5px;
  }

  /* input, .single-input {
    width: 100%;
    margin: 5px 0;
  } */

  .label-container {
    /* flex-direction: column; */
    margin-bottom: 20px;
  }

  .test {
    margin: 0 auto;
    width: 100%;
  }

  button {
    width: 100%;
    margin-left: 0;
  }

  .carteImage {
    margin-left: 0;
  }



  /* .carte {
    width: 80%;
    height: auto;
  } */
}

@media (max-width: 500px) {
  .Formulaire {
   flex-direction: column;
   align-items: center;
   /* margin: 150px 0 0 0; */

 }

 .container {
   width: 90%;
   height: auto;
   margin: 0;
 }
   input, .single-input {
    width: 100%;
    margin: 5px 0;
  }

  .label-container {
    flex-direction: column;
    margin-bottom: 20px;
  }


  .carteImage {
   display: none;
 }

 #form{
   background-color: rgba(255, 255, 255, 0.274)
 }

}
