

  <footer class="footer">
    <div class="footer-top">
      <img src="/assets/logoo2.png" alt="Logo" class="footer-logo">
      <div class="footer-links">
        <a href="/apropos"><strong>À propos</strong></a>
        <a href="#commentcamarche"><strong>Comment ça marche</strong></a>
        <a href="#stat"><strong>Statistiques</strong> </a>
        <a href="#"><strong>Contact : +221 76 169 57 84 / +221 70 976 47 09 </strong></a>
        <a ><strong>Email : </strong></a>
        <a href="#"><strong>sendoctrack&#64;gmail.com </strong></a>
      </div>
      <div class="social-icons">
        <a href="#"><img src="/assets/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="/assets/tweeter.png" alt="Twitter"></a>
        <a href="#"><img src="/assets/Linkedin.png" alt="Linkedin"></a>
      </div>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-bottom">
      <p><strong>&copy; 2024 Sénégal DocTrack. Tous droits réservés</strong></p>
      <p><strong>Designé et Implementé par Malang Marna</strong> </p>
    </div>
  </footer>

