<footer class="footer">
  <div class="footer-top">
    <img src="/assets/logoo2.png" alt="Logo" class="footer-logo">
    <div class="footer-links">
      <a href="#">À propos</a>
      <a href="#">Comment ça marche</a>
      <a href="#">Statistiques</a>
      <a href="#">Contact : +221 76 169 57 84 / +221 70 976 47 09</a>
    </div>
    <div class="social-icons">
      <a href="#"><img src="/assets/facebook.png" alt="Facebook"></a>
      <a href="#"><img src="/assets/tweeter.png" alt="Twitter"></a>
      <a href="#"><img src="/assets/Linkedin.png" alt="Linkedin"></a>
    </div>
  </div>
  <div class="footer-separator"></div>
  <div class="footer-bottom">
    <p>&copy; 2024  Sénégal DocTrack. Tous droits réservés.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</footer>
