@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Assurez-vous que le body et html ont une hauteur complète */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Le contenu de la page occupe tout l'espace restant */
.content {
  flex: 1;
}

/* Votre footer */
.footer {
  background-color: #31287C;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-logo {
  width: 100px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.social-icons a {
  margin: 0 10px;
}

.footer-separator {
  width: 100%;
  height: 1px;
  background-color: #F6A500;
  margin: 20px 0;
}

.footer-bottom p {
  text-align: center;
  margin: 5px 0;
}

/* Responsivité du footer */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-links, .social-icons {
    margin-top: 40px;
    justify-content: center;
    margin-block:initial;
  }

  .footer-links a, .social-icons a {
    margin: 5px;
  }
}
