<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid d-flex justify-content-between align-items-center">
          <a class="navbar-brand logo" href="#">
              <img src="/assets/logoo2.png"  class="w-100" alt="Logo">
          </a>
          <a href="/connexion" class="btn btn-warning connexion ml-auto d-lg-none d-block" style="background-color: #F6A500; font-weight: bold;">Connexion</a> <!-- Bouton de connexion visible uniquement sur mobile -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto text-end">
                  <li class="nav-item">
                      <a class="nav-link " href="/accueil">Accueil</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#apropos">À propos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/liste">Publications</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/lost">Déclaration de perte</a>
                  </li>
              </ul>
              <a href="/connexion" class="btn btn-warning connexion d-none d-lg-block" style="background-color: #F6A500; font-weight: bold;" >Connexion</a> <!-- Bouton de connexion visible uniquement sur desktop -->
          </div>
      </div>
  </nav>
</header>
