<app-navbar></app-navbar>

<div class="container">

  <div class="header-text">
    <h1 class="animated-title">Découvrez et Gérez Vos Publications</h1>
    <p class="subtitle">Modifier ici le statut de vos publications de documents perdus en cliquant sur l'icone de la croix une fois la restitution faite, ou bien supprimer simplement en clicquant sur la corbeille.</p>
  </div>

  <div *ngIf="publications.length === 0">
    <p class="no-publications">Vous n'avez aucune publication pour le moment.</p>
  </div>

  <div class="grid-container">
    <!-- Boucle pour afficher toutes les publications -->
    <div class="card" *ngFor="let publication of publications">
      <!-- Affichage dynamique de l'image -->
      <img [src]="publication.image ? 'http://localhost:8000' + publication.image : '/assets/default-image.png'" alt="Document Image" />

      <div class="card-content">
        <!-- Informations dynamiques de la publication -->
        <p class="published-by">Publié par {{ publication.user.FirstName }} {{ publication.user.LastName }} | {{ publication.created_at | date:'dd MMM yyyy' }}</p>
        <p class="phone-number">📞 {{ publication.user.Phone }}</p>
        <p>Prénom propriétaire: <strong>{{ publication.OwnerFirstName }}</strong></p>
        <p>Nom propriétaire: <strong>{{ publication.OwnerLastName }}</strong></p>

        <div class="card-actions">
          <span class="delete-icon" (click)="deletePublication(publication.id)" style="cursor: pointer;">🗑️</span>
          <span class="status" (click)="toggleStatus(publication)" [ngClass]="publication.statut === 'récupéré' ? 'success' : 'error'" style="cursor: pointer;">
            {{ publication.statut === 'récupéré' ? '✔️' : '❌' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
