<app-navbar></app-navbar>

<div class="container">
  <div class="grid-container">
    <!-- Boucle pour afficher toutes les publications -->
    <div class="card" *ngFor="let publication of publications">
      <!-- Affichage dynamique de l'image -->
      <img [src]="publication.image ? 'http://localhost:8000' + publication.image : '/assets/default-image.png'" alt="Document Image" />

      <div class="card-content">
        <!-- Informations dynamiques de la publication -->
        <p class="published-by">Publié par {{ publication.user.FirstName}}  {{ publication.user.LastName}}  | {{ publication.created_at | date:'dd MMM yyyy' }}</p>
        <p class="phone-number">📞 {{ publication.user.Phone }}</p>
        <p>Prénom propriétaire: <strong>{{ publication.OwnerFirstName }}</strong></p>
        <p>Nom propriétaire: <strong>{{ publication.OwnerLastName }}</strong></p>

        <div class="card-actions">
          <button class="details-btn">Voir détails</button>
          <!-- Statut dynamique -->
          <span class="status" [ngClass]="{'success': publication.statut === 'found', 'pending': publication.statut !== 'found'}">
            {{ publication.statut === 'found' ? '✔️' : '❌' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
