<app-navbar></app-navbar>

<div class="container">

  <div class="header-text">
    <h1 class="animated-title">Découvrez et Gérez Vos Publications</h1>
    <p class="subtitle">Modifier ici le statut de vos publications de documents perdus en cliquant sur l'icone de la croix une fois la restitution faite, ou bien supprimer simplement en clicquant sur la corbeille.</p><br>
    <button (click)="showTrashedDocuments()" class="trash-button">🗑️ Corbeille</button>
  </div>

  <div class="grid-container" *ngIf="showTrashed">
    <div class="card" *ngFor="let trashedPublication of trashedPublications">
        <!-- <img loading="lazy" [src]="trashedPublication.image ? 'http://localhost:8003' + trashedPublication.image : '/assets/default-image.png'" alt="Document Image" /> -->
        <img loading="lazy" [src]="trashedPublication.image ? 'https://doctrackapi.malang2019marna.simplonfabriques.com' + trashedPublication.image : '/assets/default-image.png'" alt="Document Image" />
        <div class="card-content">
            <p class="published-by">Publié par {{ trashedPublication.user.FirstName }} {{ trashedPublication.user.LastName }} | {{ trashedPublication.created_at | date:'dd MMM yyyy' }}</p>
            <p>Prénom propriétaire: <strong>{{ trashedPublication.OwnerFirstName }}</strong></p>
            <p>Nom propriétaire: <strong>{{ trashedPublication.OwnerLastName }}</strong></p>

            <div class="card-actions">
                <button class="restore-icon" (click)="restorePublication(trashedPublication.id)" style="cursor: pointer;">🔄 Restaurer</button>
            </div>
        </div>
    </div>
</div>


  <div *ngIf="publications.length === 0">
    <p class="no-publications">Vous n'avez aucune publication pour le moment.</p>
  </div>

  <div class="grid-container">
    <!-- Boucle pour afficher toutes les publications -->
    <div class="card" *ngFor="let publication of publications">
      <!-- Affichage dynamique de l'image -->
      <img loading="lazy" [src]="publication.image ? 'https://doctrackapi.malang2019marna.simplonfabriques.com' + publication.image : '/assets/default-image.png'" alt="Document Image" />
      <!-- <img loading="lazy" [src]="publication.image ? 'http://localhost:8003' + publication.image : '/assets/default-image.png'" alt="Document Image" /> -->
      <div class="blur-overlay"></div>

      <div class="card-content">
        <!-- Informations dynamiques de la publication -->
        <p class="published-by">Publié par <strong>{{ publication.user.FirstName }} {{ publication.user.LastName }} | {{ publication.created_at | date:'dd MMM yyyy' }}</strong></p>
        <p class="phone-number">📞 {{ publication.user.Phone }}</p>
        <p>Document: <strong>{{ publication.document_type.TypeName }}</strong></p>
        <p>Prénom propriétaire: <strong>{{ publication.OwnerFirstName }}</strong></p>
        <p>Nom propriétaire: <strong>{{ publication.OwnerLastName }}</strong></p>

        <div class="card-actions">
          <span class="delete-icon" (click)="deletePublication(publication.id)" style="cursor: pointer;">🗑️</span>
          <span class="status" (click)="toggleStatus(publication)" [ngClass]="publication.statut === 'récupéré' ? 'success' : 'error'" style="cursor: pointer;">
            {{ publication.statut === 'récupéré' ? '✔️' : '❌' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
