<!-- found-qr.component.html -->
<div class="container">
  <i class="fas fa-times-circle close-icon" (click)="navigateToHome()"></i>
  
  <a class="logo-link" routerLink="/">
  <img src="/assets/logoo2.png" class="logo" alt="Logo de la plateforme">
  </a>
  <h2>Document Retrouvé</h2>
  <p>Entrez votre numéro de téléphone pour que le propriétaire vous contacte</p>

  <form (ngSubmit)="submitPhone()" #phoneForm="ngForm">
    <div class="form-group">
      <label for="finderPhone" class="required">Téléphone</label>
      <input
        type="tel"
        id="finderPhone"
        [(ngModel)]="finderPhone"
        name="finderPhone"
        placeholder="Ex: +221771234567"
        required
        pattern="^\+221(33|70|75|76|77|78)[0-9]{7}$"
        #phoneInput="ngModel"
        [disabled]="isLoading"
      >
      <div *ngIf="phoneInput.invalid && (phoneInput.touched || phoneInput.dirty)" class="error-messages">
        <small *ngIf="phoneInput.errors?.['required']" class="error">Ce champ est requis</small>
        <small *ngIf="phoneInput.errors?.['pattern']" class="error">
          Format invalide. Exemple valide: +221771234567
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="isLoading || !phoneForm.valid">
      <span *ngIf="!isLoading">Valider</span>
      <div *ngIf="isLoading" class="spinner">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </button>
  </form>
</div>
