<app-navbar></app-navbar>

<div class="container">

  <!-- Titre accrocheur avec animation -->
  <div class="header-text">
    <h1 class="animated-title">Gérez vos Déclarations</h1>
    <p class="subtitle">
      Accédez à l'historique de toutes vos déclarations de perte et supprimez celles que vous retrouvez en toute simplicité.
    </p><br>
    <div class="trash-bin-button">
      <button class="trash-button" (click)="toggleTrashedView()"> 🗑️ Corbeille </button>
    </div>
  </div>

  <!-- Affichage des déclarations supprimées -->
  <div *ngIf="showTrashedDeclarations">
    <h2 class="subtitle one">Voici vos Déclarations Supprimées</h2>

    <!-- Message en cas d'absence de déclarations -->
    <div *ngIf="trashedDeclarations.length === 0">
      <p class="no-declarations">Aucune déclaration supprimée pour le moment.</p>
    </div>

    <div class="grid-container">
      <div class="card" *ngFor="let declaration of trashedDeclarations">
        <img src="/assets/declaration.webp" alt="Document Image" />

        <div class="card-content">
          <p><strong>{{ declaration.Title }}</strong></p>
          <p class="published-by">Supprimé le {{ declaration.deleted_at | date:'dd MMM yyyy' }}</p>
          <p>Prénom exact: <strong>{{ declaration.FirstNameInDoc }}</strong></p>
          <p>Nom exact: <strong>{{ declaration.LastNameInDoc }}</strong></p>
          <div class="card-actions">
            <button class="restore-icon" (click)="restoreDeclaration(declaration.uuid)" style="cursor: pointer;">🔄 Restaurer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Grille d'affichage des cartes pour les déclarations non supprimées -->
  <div class="grid-container" *ngIf="!showTrashedDeclarations">
    <div class="card" *ngFor="let declaration of declarations">
      <img src="/assets/declaration.webp" alt="Document Image" />

      <div class="card-content">
        <p><strong>{{ declaration.Title }}</strong></p>
        <p class="published-by">Déclaré  par <strong>{{ declaration.user.FirstName }} {{ declaration.user.LastName }} le {{ declaration.created_at | date:'dd MMM yyyy' }}</strong></p>
        <p>document : <strong>{{ declaration.document_type.TypeName }}</strong></p>
        <p>Prénom exacte : <strong>{{ declaration.FirstNameInDoc }}</strong></p>
        <p>Nom exacte : <strong>{{ declaration.LastNameInDoc }}</strong></p>

        <div class="card-actions">
          <button class="delete-btn" (click)="deleteDeclaration(declaration.uuid)">Supprimer</button>
         <button
            *ngIf="declaration.certificat?.id"
            class="view-btn"
            (click)="viewCertificate(declaration.certificat.uuid)">
            👁 Voir certificat
        </button>
<!--
          <button
              *ngIf="declaration.certificat?.id"
              class="download-btn"
              (click)="downloadCertificate(declaration.certificat.id)">
              ⬇ Télécharger
          </button> -->
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
