* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #F3F4F7 25%, #E2E5EC 100%);
}

h2 {

  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;

}

.header-text {
  text-align: center;
  margin-bottom: 30px;
}

.animated-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #31287C;
  background: linear-gradient(45deg, #F6A500, #31287C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: fade-in 1.2s ease-out;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
  font-style: italic;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-declarations {
  text-align: center;
  font-size: 1.5rem;
  color: #f44336;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #F6A500;
}

.card-content {
  padding: 20px;
}

.published-by,
.phone-number {
  font-size: 1rem;
  color: #777;
  /* margin-bottom: 10px; */
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.delete-btn {
  background-color: #31287C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #F6A500;
}

.restore-icon {
  background-color: #31287C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.restore-icon:hover {
  background-color: #F6A500;
}
.trash-button {
  background-color: #31287C;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
}

.trash-button:hover {
  background-color: #d32f2f;
}

/* Media Queries pour la réactivité */
@media (max-width: 768px) {

  .animated-title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .card {
    margin-bottom: 30px;
  }
}



.trash-bin-button .btn-primary {
  background-color: #31287C;
  color: white;
}


.restore-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
}

