<app-sideheaders></app-sideheaders>

<div class="stats-container">
  <div class="stat-box bleu">
      <img src="/assets/perte.png" alt="">
      <span>{{ declarationsCount }} Déclarations de pertes</span>
  </div>
  <div class="stat-box jaune">
      <img src="/assets/pub.png" alt="">
      <span>{{ publicationsCount }} Documents Publiés</span>
  </div>
  <div class="stat-box bleu">
      <img src="/assets/demande.png" alt="">
      <span>{{ restitutionCount }} Demandes de restitutions</span>
  </div>
  <div class="stat-box jaune">
      <img src="/assets/mail.png" alt="">
      <span>{{ emailsSentCount }} Emails envoyés</span>  </div>
</div>


<button class="btn-history" (click)="showRestitutionHistory()">Historiques des Restitutions</button>

<!-- Afficher les résultats de recherche -->
<div *ngIf="filteredDocuments.length > 0" class="search-results">
  <div *ngFor="let document of filteredDocuments" class="card">
    <img *ngIf="document.image" [src]="document.image" alt="document" />
    <p *ngIf="!document.image">Image non disponible</p>
    <div class="card-content">
      <p class="published-by">Publié par {{ document.user.FirstName }} {{ document.user.LastName }} | {{ document.created_at | date }}</p>
      <p>Prénom propriétaire: <strong>{{ document.OwnerFirstName }}</strong></p>
      <p>Nom propriétaire: <strong>{{ document.OwnerLastName }}</strong></p>
    </div>
  </div>
</div>

<!-- Ajout du texte stylisé -->
<div class="email-list-header">
    <h2>Liste de tous les emails envoyés</h2>
    <p>Retrouvez ici l'historique complet des emails envoyés via notre système. Vous pouvez consulter le contenu, les destinataires et les détails associés.</p>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Expéditeur</th>
        <th>Destinataire</th>
        <th>Objet</th>
        <th>Contenu</th>
        <th>Date</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emailLog of paginatedEmailLogs">
        <td data-label="id">{{ emailLog.id }}</td>
        <td data-label="Expéditeur">{{ emailLog.from }}</td>
        <td data-label="Destinataire">{{ emailLog.to }}</td>
        <td data-label="Objet">{{ emailLog.subject }}</td>
        <td data-label="Contenu">{{ emailLog.body }}</td>
        <td data-label="Date">{{ emailLog.created_at | date:'dd/MM/yyyy' }}</td>
        <!-- <td data-label="Action"><span class="delete-icon">🗑️</span></td> -->
      </tr>
    </tbody>
  </table>
</div>


<!-- Pagination Controls -->
<div class="pagination-controls">
  <button (click)="pageChanged(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{ currentPage }} sur {{ totalPages }}</span>
  <button (click)="pageChanged(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
</div>

