body {
  font-family: Arial, sans-serif;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  margin-left: 13%;
}

.stat-box {
  display: flex;
  background-color: #31287C;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.bleu {
  background-color: #31287C;
  font-weight: bold !important;
}

.jaune {
  background-color: #F6A500;
  color: black;
  font-weight: bold !important;
}

.stat-box span {
  font-size: 1.5rem;
}

.stat-box i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.table-container {
  margin-top: 10px;
  margin-left: 15%;
  width: 83%;

}

table {
  width: 100%;
  border-radius: 20px;
  /* border-collapse: collapse; */
}

th, td {
  padding: 30px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}


th {
  background-color: #31287C;
  color: white;
}

td {
  background-color: white;
}

.delete-icon {
  color: #F6A500;
  cursor: pointer;
}

.btn-history {
  background-color: #31287C;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  font-weight: bold !important;
  margin-left: 83%;
}
