<app-sideheaders></app-sideheaders>

<br><br>
<div *ngIf="documentDetails" class="card-document">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="image-container">
        <img *ngIf="documentDetails.image" [src]="documentDetails.image" alt="Document Image" class="image" >
        <div class="blur-overlay"></div> <!-- Ajout de l'overlay pour appliquer le flou -->
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 details-section">
      <div class="document-info">
        <p>Publié par <strong>{{ documentDetails.user.FirstName }} {{ documentDetails.user.LastName }} le {{ documentDetails.created_at | date }}</strong> </p>
        <p>📞 <strong>{{ documentDetails.user.Phone }}</strong></p>
        <p>Document :<strong>{{ documentDetails.document_type.TypeName }}</strong></p>
        <p>Prénom propriétaire :<strong> {{ documentDetails.OwnerFirstName }}</strong></p>
        <p>Nom propriétaire :<strong> {{ documentDetails.OwnerLastName }} </strong></p>
        <p>Lieu :<strong> {{ documentDetails.Location }}</strong></p>
        <p><strong>Identification :</strong> {{ documentDetails.identification }}</p>
      </div>

      <span class="status" [ngClass]="documentDetails.statut === 'récupéré' ? 'success' : 'error'">
        {{ documentDetails.statut === 'récupéré' ? '✔️' : '❌' }}
      </span>
    </div>
  </div><br>

  <div class="comments-list">
    <h3>Commentaires</h3><br>
    <div *ngFor="let commentaire of commentaires" class="comment">
      <p><strong>{{ commentaire.user.FirstName }} {{ commentaire.user.LastName }}</strong>  | {{ commentaire.created_at | date }}</p>
      <p>{{ commentaire.contenu }}</p>
    </div>
  </div>

  <div class="comment-section">
    <input class="comment-input" [(ngModel)]="newComment" placeholder="Écrire un commentaire...">
    <button class="btn submit-btn" (click)="addCommentaire()">Envoyer</button>
  </div>
</div> <br><br>


