<app-navbar></app-navbar>

<section class="hero-section bg-dark text-light py-30 animated-hero">
  <div class="container text-center"><br>
    <h1>Vous avez perdu un document important ? <br>
      Nous sommes là pour vous aider à le retrouver</h1>
    <p class="text">"Publiez ou recherchez des documents perdus et retrouvés en toute simplicité."<br>
      <span class="titre">DocTrack</span> votre solution rapide et sécurisée.</p>
      <br>
      <div class="input-group mb-3" style="max-width: 800px; margin: 0 auto;">
        <input type="text" class="form-control" placeholder="Recherchez un document trouvé"
               aria-label="Recherche" [(ngModel)]="searchTerm" (input)="filterDocuments()">
        <button class="btn btn-outline-secondary" type="button" (click)="filterDocuments()">Rechercher</button>
      </div> <br>

      <div class="mb-4">
        <a href="/declarer" class="btn btn-outline-light dec" style="margin-right: 70px;">Déclarer une Perte</a>
        <a href="/publier" class="btn pub">Publier un document</a>
      </div>
  </div>
</section>


<section *ngIf="searchTerm.length > 0">
  <div *ngIf="filteredDocuments.length === 0" class="no-results">
    <p>Aucun document trouvé pour "{{ searchTerm }}". Veuillez essayer une autre recherche.</p>
  </div>

  <div *ngIf="filteredDocuments.length > 0" class="search-results">
    <div class="grid-container">
      <div *ngFor="let document of filteredDocuments" class="card">
        <img *ngIf="document.image" [src]="document.image" alt="document" />
        <p *ngIf="!document.image">Image non disponible</p>
        <div class="card-content">
          <p class="published-by">Publié par {{ document.user.FirstName }} {{ document.user.LastName }} | {{ document.created_at | date }}</p>
          <!-- <p class="phone-number">📞 {{ document.user.Phone }}</p> -->
          <p>Prénom propriétaire: <strong>{{ document.OwnerFirstName }}</strong></p>
          <p>Nom propriétaire: <strong>{{ document.OwnerLastName }}</strong></p>
          <div class="card-actions">
            <button class="details-btn" (click)="viewDetails(document.id)">Voir détails</button>
            <span class="status" [ngClass]="document.statut === 'récupéré' ? 'success' : 'error'">
              {{ document.statut === 'récupéré' ? '✔️' : '❌' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="avantage-section">
  <div class="container">
    <h2 class="titre-avantage">Bénéficiez des avantages de DocTrack</h2>
    <div class="row mt-5">
      <div class="col-md-3 text-center advantage-item">
        <img src="assets/avantage1.png" alt="avantage 1">
        <h4>Rechercher votre document perdu depuis la plateforme.</h4>
      </div>
      <div class="col-md-3 text-center advantage-item">
        <img src="assets/avantage2.png" alt="avantage 2">
        <h4>Déclarer la perte de votre document depuis la plateforme.</h4>
      </div>
      <div class="col-md-3 text-center advantage-item">
        <img src="assets/avantage3.png" alt="avantage 3">
        <h4>Publier un document retrouvé avec la possibilité de vous contacter.</h4>
      </div>
      <div class="col-md-3 text-center advantage-item">
        <img src="assets/avantage4.png" alt="avantage 4">
        <h4>Récupérer votre document de la main du trouveur et remercier le !</h4>
      </div>
    </div>
    <br>
  </div>
</section>


<section class="statistique">
  <div class="container">
    <h2 class="titre-avantage">Nos Statistiques</h2>
    <div class="row mt-5 Statist">
      <div class="col-md-6 stat">
        <img src="/assets/Statistique.png" alt="Nos Statistiques" class="img-statistiques">
      </div>
      <div class="col-md-6">
        <div class="quote">
          <img src="/assets/quote-icon.png" alt="Quote Start" class="img-quote-Start" style="margin-right: 90%"> <br><br>
          <p>"Nos Statistiques Parlent d'Elles-Mêmes" <br>Chez docTrack, nous mesurons notre succès à travers les résultats tangibles que nous fournissons à nos utilisateurs. Voici quelques chiffres qui illustrent notre impact.</p><br>
          <img src="/assets/quote-icon.png" alt="Quote End" class="img-quote-End" style="margin-left: 90%;">
        </div>
      </div>
    </div>
  </div>
</section><br>

<section class="fonctionnement">
  <h2 class="titre-avantage">Comment ça marche ? </h2> <br><br>

  <h3 class="methode1">Publications et Déclarations</h3>
  <div class="first">
    <div class="col">
      <iframe
        src="https://www.youtube.com/embed/QGWwwUaVK6k?si=qR5LV_YluMANMmyF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        class="video">
      </iframe>
    </div>
    <p class="paragraphe">
      "Si un citoyen perd un document ou en trouve un, la vidéo ci-contre détaille le processus pour déclarer ou publier le document. Suivez les étapes simples pour une gestion rapide et sécurisée de vos documents perdus ou trouvés."
    </p>
  </div>
<br><br><br>


  <h3 class="methode2">Recherche et Restitution</h3>
  <div class="two">
    <div class="col">
      <iframe
        src="https://www.youtube.com/embed/QGWwwUaVK6k?si=qR5LV_YluMANMmyF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        class="video">
      </iframe>
    </div>
    <p class="paragraphe1">
      "Si un citoyen désire rechercher son document ou demander la restitution , la vidéo ci-contre détaille le processus de recherche  et de demande de restitution de son document. Suivez les étapes simples pour une gestion rapide et sécurisée de vos documents perdus ou trouvés."
    </p>
  </div>
</section><br><br>

<section class="temoignages">
  <h2 class="titre-temoin">Témoignages</h2>
  <div class="trait"></div><br><br>
  <div class="testimonial-container">
    <div class="testimonial-text">
      <p class="parole">“Cette Plateforme m'a vraiment aidé, quand je fus venu au Sénégal pour mes vacances, j'ai perdu mon passeport, mais lorsque j'ai fait ma déclaration j'ai pu retrouvé mon passeport et finalement rentré en Europe.”</p>
     <div class="nom"> <p class="author">Cheikh Serigne Saliou Talla</p> </div>
    </div>
    <div class="testimonial-image">
      <img src="/assets/Imagetemoin.png" alt="Cheikh Serigne Saliou Talla">
    </div>
  </div>
</section><br><br><br><br><br>

<section class="Partenaires">
  <h2 class="titre-avantage">Nos Partenaires </h2> <br><br>
  <div class="trait2"></div><br><br>
  <div class="container-partenaires">
    <div class="ligne1">
      <!-- <img src="/assets/Logo-Police1.png" alt="police" class="partenaire-img">
      <img src="/assets/douane1.png" alt="douane" class="partenaire-img">
      <img src="/assets/gendarme.png" alt="gendarmerie" class="partenaire-img">
      <img src="/assets/sonatel.png" alt="sonatel" class="partenaire-img">
      <img src="/assets/SS.png" alt="SS" class="partenaire-img">
      <img src="/assets/LOGMITTA-11.png" alt="LOGMITTA" class="partenaire-img">
      <img src="/assets/armée1.png" alt="armée" class="partenaire-img">
      <img src="/assets/mairie.png" alt="Daf" class="partenaire-img">
      <img src="/assets/Daf1.png" alt="Daf" class="partenaire-img">
      <img src="/assets/CBAO@2x1.png" alt="CBAO" class="partenaire-img"> -->
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">
      <img src="/assets/societe-generale-logo.png" alt="simplon" class="partenaire-img">
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">
      <img src="/assets/societe-generale-logo.png" alt="simplon" class="partenaire-img">
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">
      <img src="/assets/societe-generale-logo.png" alt="simplon" class="partenaire-img">
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">
      <img src="/assets/societe-generale-logo.png" alt="simplon" class="partenaire-img">
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">
      <img src="/assets/societe-generale-logo.png" alt="simplon" class="partenaire-img">
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">
      <img src="/assets/societe-generale-logo.png" alt="simplon" class="partenaire-img">
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">
      <img src="/assets/societe-generale-logo.png" alt="simplon" class="partenaire-img">
      <img src="/assets/simplon.png" alt="simplon" class="partenaire-img">


    </div>
  </div>
</section>


<app-footer></app-footer>
