<app-navbar></app-navbar>

<section class="hero-section bg-dark text-light py-30">
  <div class="container text-center"><br>
    <h1>Vous avez perdu un document important ? <br>
      Nous sommes là pour vous aider à le retrouver</h1>
    <p class="text">"Publiez ou recherchez des documents perdus et retrouvés en toute simplicité."<br>
      <span class="titre">DocTrack</span> votre solution rapide et sécurisée.</p>
      <br>
    <!-- Barre de recherche -->
    <div class="input-group mb-3" style="max-width: 800px; margin: 0 auto;"> <!-- Augmentation de la largeur -->
      <input type="text" class="form-control" placeholder="Recherchez un document trouvé" aria-label="Recherche">
      <button class="btn btn-outline-secondary" type="button">Rechercher</button>
    </div> <br>

    <!-- Boutons centrés -->
    <div class="mb-4">
      <a href="#" class="btn btn-outline-light dec" style="margin-right: 70px;" >Déclarer une Perte</a>
      <a href="#" class="btn pub">Publier un document</a>
    </div>
  </div>
</section>
