@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 /* Hero Section Styling */
 .hero-section {
  background-image: url('/assets/Imagebanniere.png');
  background-size: cover;
  background-position: center;
  background-color: #000000;
  color: white;
  padding: 20px 0;
  text-align: left;
  position: relative;
  height: 550px;
}

h1 {
  color: #ffff;
  font-family: 'Roboto';
  font-weight: bold;
  margin-left: -35rem;
}

.text {
  font-size: 25px;
  font-family: 'Roboto';
  margin-top: 45px;
  margin-right: 30rem;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.titre {
  font-weight: bold;
  color: #F6A500;
}

.hero-section .btn {
  font-weight: bold;
}

.hero-section .btn.dec {
  border-color: #F6A500;
  color: #F6A500;
}

.hero-section .btn.pub {
  background-color: #F6A500;
  color: black;
  border-radius: 5px;
}

.input-group .form-control {
  border-radius: 5px 0 0 5px;
}

.input-group .btn {
  border-radius: 0 5px 5px 0;
  background-color: #F6A500;
  color: black;
}

.mb-4 {
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

/* Barre de recherche responsive */
@media (max-width: 768px) {
  .hero-section {
      height: auto;
      padding: 20px 15px;
  }

  h1 {
      font-size: 1.8em;
      margin-left: 0;
      text-align: center;
  }

  .text {
      font-size: 1.2em;
      margin-right: 0;
      text-align: center;
  }

  .input-group {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
  }

  .input-group .form-control {
      font-size: 1rem;

  }

  .input-group .btn {
      font-size: 1rem;
  }

  .mb-4 {
      display: flex;
      flex-direction: column;
      align-items: center; /* centrer les boutons */
      margin-top: 20px;

  }

  .mb-4 .btn {
      width: 80%; /* Largeur des boutons sur mobile */
      font-size: 0.9em;
      margin: 8px 0;
  }

  .mb-4 .btn.dec {
    margin-left: 70px; /* Augmentation de la marge à gauche pour le bouton "Déclarer une Perte" */
}

}

.avantage-section, .statistique {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.avantage-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/last1.png'); /* Chemin vers votre image de fond */
  background-size: cover;
  background-position: center;
  opacity: 1; /* Ajustez l'opacité ici */
  z-index: 0; /* Placez l'image en arrière-plan */
}

.avantage-section .container {
  position: relative; /* Permet d'afficher le contenu au-dessus de l'image de fond */
  z-index: 1; /* S'assure que le contenu est au-dessus de l'image de fond */
}

.avantage-section img {
  height: auto; /* Permet une taille d'image responsive */
  margin-bottom: 20px;
  max-width: 100%; /* Assurez-vous que les images ne débordent pas */
}

.avantage-section h4 {
  margin-top: 10px; /* Ajuste la marge pour plus de séparation */
  font-weight: lighter;
  font-family: 'Roboto', sans-serif; /* Applique la police Roboto */
}

.titre-avantage {
  font-size: 45px;
  font-family: 'Roboto', sans-serif; /* Applique la police Roboto */
  font-weight: bolder;
  color: #31287C;
}

.col-md-3 {
  font-size: 16px;
}

/* Media queries pour les écrans plus petits */
@media (max-width: 768px) {
  .titre-avantage {
    font-size: 32px; /* Réduit la taille du titre */
  }

  .col-md-3 {
    font-size: 14px; /* Réduit la taille de police dans les colonnes */
  }

  .avantage-section img {
    max-width: 50%; /* Réduit la taille des images sur les petits écrans */
    height: auto; /* Maintient le ratio aspect */
  }

  .avantage-section h4 {
    font-size: 18px; /* Réduit la taille des sous-titres */
  }
}


.statistique {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.titre-avantage {
  font-size: 45px; /* Taille plus grande sur le bureau */
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #31287C;
  text-align: center;
}

.stat {
  display: flex;
  flex-wrap: wrap;
}

.img-statistiques, .img-quote {
  max-width: 100%;
  height: auto;
}

.quote {
  position: relative;
  padding: 0 20px;
  font-size: 2.2em; /* Taille du texte sur le bureau */
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 800px; /* Largeur fixe sur le bureau */
}

.img-quote {
  display: block;
  margin-bottom: -10px; /* Ajustement pour les images de guillemets */
}

@media (max-width: 768px) {
  .titre-avantage {
    font-size: 24px; /* Taille réduite pour les petits écrans */
  }

  .quote {
    font-size: 1.1em; /* Taille du texte réduite */
    width: auto; /* Largeur flexible */
    padding: 0 10px; /* Padding réduit */
  }

  .img-quote {
    width: 50px; /* Largeur spécifique pour les guillemets */
    margin-bottom: 0;
    display: inline; /* Affichage en ligne pour conserver le flux avec le texte */
  }

  .img-statistiques {
    height: auto; /* Hauteur auto pour maintenir l'aspect ratio */
    width: 100%; /* Pleine largeur */
  }

  .img-quote-End {
   margin-right: 40%;
   width: 50px;
  }

  .img-quote-Start {
    align-items:start;
    width: 50px;
    margin-right: 80%;
    margin-bottom: 20px;

   }
   .Statist {
    display: flex;
    flex-direction:row;
   }
}

.first {
display: flex;
align-content: space-between;
height: 80%;
width: 100%;
background-color: #31287C;
margin-bottom: 1%;
margin-top: -3%;
padding: 3%;
}
.methode1 {
  margin-bottom: 1%;
  padding: 3%;
  margin-left: 45%;
  color: #F6A500;
  font-size: 40px;
  font-weight: bold;
  font-family:'Oxygen' ;
}
.paragraphe {
  margin-bottom:10px;
  margin-top: -45px;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin-left: 7%;
  font-weight: bold;
}
.video {
  width: 700px;
  height: 400px;
  margin-top: -9rem;
  border-radius: 8px;
}

.methode2 {
  margin-bottom: 1%;
  padding: 3%;
  margin-left: 5%;
  color: #31287C;
  font-size: 40px;
  font-weight: bold;
  font-family:'Oxygen' ;
}

.two {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
  height: 80%;
  width: 100%;
  background-color: #F6A500;
  margin-bottom: 1%;
  margin-top: -3%;
  padding: 3%;
  }

  .paragraphe1 {
    margin-bottom:10px;
    margin-top: -45px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #31287C;
    margin-right: 7%;
    font-weight: bold;
  }
  .fonctionnement {
    background-image: url('/assets/arriereplan2(1).png'); /* Remplacer par le chemin de votre image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1; /* Ajustez l'opacité ici */
    z-index: 0;
  }
  @media only screen and (max-width: 768px) {
    .fonctionnement {
      padding: 10px;
    }

    .first, .two {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }

    .methode1, .methode2 {
      margin-left: 0;
      font-size: 24px;
      text-align: center;
      padding: 10px 0;
    }

    .paragraphe, .paragraphe1 {
      font-size: 18px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
    }

    .video {
      width: 100%;
      height: auto; /* Ajustez selon vos besoins */
      margin-top: 0;
    }
  }

/* Styles généraux */
.titre-temoin {
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #31287C;
  text-align: start;
  margin-left: 2%;
}

.trait {
  width: 5%;
  height: 12px;
  background-color: #F6A500;
  margin-left: 2%;
}

.testimonial-text {
  background: #31287C;
  margin-top: 90px;
  color: #F6A500;
  margin-left: 10%;
  height: 220px;
  padding: 10px;
  width: 40%;
  border-radius: 150px 0 0 150px;
  justify-content: center;
  text-align: center;
}

.parole {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin-left: 8%;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-image {
  margin-right: 20px;
  margin-top: -5rem;
  margin-left: 0%;
}

.nom {
  background: #F6A500;
  margin-top: 10px;
  margin-left: 40%;
  height: 100px;
  padding: 10px;
  width: 50%;
  border-radius: 150px 150px 150px 150px;
  justify-content: center;
  text-align: center;
}

.author {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin-top: 1.2rem;
}

/* Responsive Design pour Mobile */
@media (max-width: 768px) {
  .titre-temoin {
    font-size: 24px; /* Ajustement de la taille de la police */
    margin-left: 5%; /* Ajustement de la marge gauche */
  }

  .trait {
    width: 50%; /* Augmentation de la largeur pour mobile */
  }

  .testimonial-text {
    width: 60%; /* Augmentation de la largeur du conteneur de texte */
    margin-right: 55%; /* Centrage du bloc */
    height: 120px; /* Hauteur automatique pour un meilleur ajustement */
    padding: 20px; /* Augmentation du padding pour un meilleur espacement */
  }

  .parole {
    font-size: 10px; /* Réduction de la taille de la police du texte */
    margin-left: 1%;
  }

  .nom {
    width: 60%; /* Ajustement de la largeur du nom */
    margin-left: 5%; /* Centrage du bloc du nom */
  }

  .author {
    font-size: 18px; /* Réduction de la taille de la police du nom */
  }

  .testimonial-image {
    width: 50%; /* Ajustement de la largeur de l'image */
    margin: 20px auto; /* Centrage de l'image avec une marge automatique */
    margin-top: 20px; /* Ajustement du haut de la marge */
  }

  .testimonial-image img {
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: auto; /* Hauteur automatique pour éviter la déformation */
    margin-top:3rem ;
  }
}
