body {
  font-family: Arial, sans-serif;
  background-color: #F6A500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Formulaire {
  display: flex;
  flex-wrap: wrap;
  margin: 120px;
  margin-left: 27%;
  margin-top: 80px;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  justify-content: center;
  max-width: 732px;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-left: 5%;
}

.form-container h2 {
  text-align: center;
  color: #31287C;
  font-weight: bold;
}

.label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 15px 14px 2px;
  color: black;
}

input {
  width: 300px;
  height: 56px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 8px;
}

.question {
  margin-left: 14px;
}

a {
  color: #31287C;
}

button {
  display: block;
  width: 229px;
  height: 40px;
  background-color: #31287C;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

button:hover {
  background-color: #F6A500;
  color: black !important;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 20px;
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .Formulaire {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .container {
    padding: 20px;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .label-container {
    flex-direction: column;
    margin-bottom: 15px;
  }

  label {
    margin: 15px 0 2px;
  }

  input {
    width: 90%;
    height: 56px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 8px auto;
  }

  button {
    width: 90%;
    margin: 20px auto;
  }

  .form-container h2 {
    font-size: 24px;
  }

  .error {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 0;
  }
}
