<app-navbar></app-navbar>

<div class="container">
  <!-- Section Title with Description -->
  <div class="section-intro">
    <h1>Bienvenue sur la page des publications</h1>
    <p>Explorez les documents publiés, contactez les publicateurs,aider des personnes a retrouver leurs documents, commenter une publication et demander la restitution si vous etes proprietaires. Cette plateforme facilite la recherche et la récupération des documents perdus.</p>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Rechercher en tapant les mots clés" [(ngModel)]="searchTerm" (input)="filterDocuments()" />
    <button class="search-btn" (click)="filterDocuments()">Chercher un document</button>
    <button class="my-publications-btn" (click)="goToMyPublications()">Mes publications</button>
  </div>

  <div class="grid-container">
    <div *ngFor="let document of paginatedFilteredDocuments" class="card">
      <img *ngIf="document.image" [src]="document.image" alt="document" />
      <p *ngIf="!document.image">Image non disponible</p>
      <div class="card-content">
        <p class="published-by">Publié par {{ document.user.FirstName }} {{ document.user.LastName }} | {{ document.created_at | date }}</p>
        <!-- <p class="phone-number">📞 {{ document.user.Phone }}</p> -->
        <p>Prénom propriétaire : <strong>{{ document.OwnerFirstName }}</strong></p>
        <p>Nom propriétaire : <strong>{{ document.OwnerLastName }}</strong></p>
        <div class="card-actions">
          <button class="details-btn" (click)="viewDetails(document.id)">Voir détails</button>
          <span class="status" [ngClass]="document.statut === 'récupéré' ? 'success' : 'error'">
            {{ document.statut === 'récupéré' ? '✔️' : '❌' }}
          </span>
        </div>
      </div>
    </div>
  </div>


  <!-- Pagination controls -->
  <div class="pagination-controls">
    <button (click)="pageChanged(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
    <button (click)="pageChanged(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
  </div>
</div>
<app-footer></app-footer>
