<app-navbar></app-navbar>
<section class="hero-section bg-dark text-light py-30 animated-hero">
  <div class="container text-center"><br><br><br>
    <h1>A PROPOS </h1>
    <p class="text">"La Véritable générosité envers l'avenir consiste à tout donner au présent."<br>
      <span class="titre">"Albert Camus"</span> </p>
      <br>
  </div>
</section>



 <!-- Section contenant Contexte et Problématiques -->
<section class="container section">
  <div class="section1">
      <div class="contexte">
          <h2 class="propriete1"><strong>Contexte</strong></h2>
          <div class="trait1"></div>
          <p class="parg1">"Aujourd'hui, de nombreuses personnes font face à la perte de documents essentiels tels que cartes d'identité,
             passeports ou permis de conduire. Retrouver ces documents, souvent perdus dans des lieux publics ou mal redirigés, devient un défi
             qui prend du temps et génère du stress. Cette situation entraine l'impossibilité de vaquer à certaines occupations "</p>
      </div>
      <div class="problematique">
          <h2 class="propriete2"><strong>Problématiques</strong></h2>
          <div class="trait1"></div>
          <p class="parg2">"Les démarches administratives pour retrouver un document ou obtenir un duplicata prennent trop de temps et sont souvent chers.
            Il existe un manque de centralisation des informations concernant les documents trouvés, et les moyens actuels sont peu pratiques. Cette situation
            engendre des frustrations et des pertes de temps importantes pour les citoyens."</p>
      </div>
  </div>

  <!-- Section contenant Objectifs -->
  <div class="section2">
      <h2 class="propriete1"><strong>Objectifs</strong></h2>
      <div class="trait1"></div>
      <p class="parg2">
          "Faciliter et accélérer la recherche de documents perdus en offrant une plateforme centralisée où les citoyens peuvent : <br>
          - déclarer une perte,<br>
          - publier des documents trouvés,<br>
          - recevoir des notifications pour toute correspondance,<br>
          - demander une restitution de document."
      </p>
  </div>
</section> <br><br><br><br>

<section class="temoignages">
  <h2 class="titre-temoin">Qui sommes nous ?</h2>
  <div class="trait"></div><br><br>
  <div class="container-nous">
      <div class="texto">
          <span>DocTrack</span> est une plateforme dédiée à la gestion des documents perdus.
          Composé de <span>"Doc"</span> pour "document" et <span>"Track</span> pour "suivre", son nom reflète sa mission :<span> permettre aux citoyens de suivre et de retrouver plus facilement leurs documents égarés en centralisant les informations de perte et de trouvaille </span>.
          La plateforme a été créée par Malang Marna, un jeune développeur web et web mobile de 24 ans. <span> DocTrack a eu l’opportunité de voir jour lors d’une mémoire de certification en DWWM à la fin de formation qui a duré 10 mois chez Simplon.
          Simplon, en tant qu'organisme de formation orienté vers les métiers du numérique, met l'accent sur la formation de développeurs capables de répondre à des besoins réels, en utilisant des technologies modernes pour apporter des solutions innovantes </span>. <br>
          L'inspiration de cette plateforme est née suite à des expériences personnelles, la vue d’un proche confronté à la perte de sa carte d'identité, une situation difficile et longue à résoudre, le ramassage d’un permis de conduire et avec une tentative de retrouver
          son propriétaire via les réseaux sociaux, mais qui s’est finalement soldé par un échec malgré les efforts. Ces situations ont clairement prouvé l'importance de créer une solution numérique centralisée pour faciliter la gestion et la restitution des documents perdus.
      </div>
      <div class="image">
          <img src="/assets/simp-doc-malcom.png" alt="Notre équipe">
      </div>
  </div>
</section><br><br><br><br>


<section class="temoignages">
  <h2 class="titre-temoin princ">Nos Principes </h2>
  <div class="trait2"></div><br><br><br>
  <div class="global">
      <div class="princ1">
        <img src="/assets/Security1.png" alt="securite">
      </div>
      <div class="princ2">
        <p class="title" >Confidentialité</p>
        <p class="tex">Chez DocTrack, la confidentialité des informations est une priorité absolue.
          Pour chaque document publié sur la plateforme, nous nous assurons que toutes les informations sensibles,
          telles que les numéros d’identification et autres données personnelles, sont masquées afin de protéger la vie
          privée des utilisateurs. Cette protection garantit que seuls les détails essentiels au retour du document sont visibles,
          préservant ainsi l’anonymat et la sécurité des personnes concernées..</p>
      </div>
  </div>
  <div class="plus">
    <div class="princ2">
      <p class="tit">Traçabilité</p>
      <p class="tex">La traçabilité est un pilier fondamental de DocTrack. Chaque demande de restitution, ainsi que toutes les correspondances
        et interactions liées à un document, sont enregistrées de manière à assurer une transparence complète. Lorsqu'un utilisateur initie une
        demande de restitution, nous conservons une trace de son identité et des échanges par mail qui en découlent. Ce suivi permet de protéger
         chaque transaction, d'assurer un retour sûr des documents, et de fournir un historique des actions pour toute demande d'information.</p>
    </div>
    <div class="princ1">
      <img src="/assets/bloc.png" alt="securite">
    </div>
</div>
</section><br><br>

<section class="perspective">
  <h2 class="titre-temoin princ">Nos Perspectives</h2>
  <div class="trait2"></div><br><br>
  <div class="generale">
    <img class="pers" src="/assets/perse.png" alt="arrière-plan">
    <p class="overlay-text">Toujours à la quête d’une meilleure Experience Utilisateur</p>
    <div class="cards">
      <div class="card">
        <div class="card-img"><img src="/assets/sms.png" alt="sms icon"></div>
        <h5>SMS plutôt qu’aux Mails</h5>
        <p class="card-text">Nous envisageons de nouer des partenariats avec des services de messagerie pour intégrer des notifications par SMS.
          Ces messages permettront aux utilisateurs de recevoir des alertes en temps réel lorsqu'un document correspondant à leur déclaration est trouvé,
          ou lorsqu'une demande de restitution est en cours. Cela facilitera une communication rapide et élargira l'accessibilité pour les utilisateurs</p>
      </div>
      <div class="card">
        <div class="card-img"><img src="/assets/portab.png" alt="mobile icon"></div>
        <h5>Application Mobile</h5>
        <p class="card-text">Dans le futur, une application mobile DocTrack sera développée pour permettre aux utilisateurs de gérer leurs déclarations et
          demandes de restitution directement depuis leur smartphone. L'application offrira des fonctionnalités améliorées et une accessibilité optimisée,
          permettant le suivi des documents perdus encore plus pratique et instantané.</p>
      </div>
      <div class="card">
        <div class="card-img"><img src="/assets/ocr.png" alt="ocr icon"></div>
        <h5>Automatique plutôt que manuel</h5>
        <p class="card-text">Nous prévoyons d'intégrer la technologie OCR (Reconnaissance Optique de Caractères) afin d'automatiser la publication des documents.
          Grâce à cette fonctionnalité, il suffira de scanner un document trouvé pour que les informations essentielles soient extraites automatiquement, sans avoir
          à remplir manuellement le formulaire. Cela simplifiera et accélérera le processus de publication, tout en minimisant les erreurs humaines</p>
      </div>
    </div>
  </div>
</section>

<br><br>
<app-footer></app-footer>
