<body>
  <div class="sidebar">
      <div class="logo">
          <img src="/assets/logoo2.png" alt="Logo">
      </div>
      <ul class="menu">
          <li class="menu-item active">
              <i class="fas fa-home"></i>
              <span>Accueil</span>
          </li>
          <li class="menu-item">
              <i class="fas fa-newspaper"></i>
              <span>Publications</span>
          </li>
          <li class="menu-item">
              <i class="fas fa-user-friends"></i>
              <span>Déclarations</span>
          </li>
          <li class="menu-item">
              <i class="fas fa-users"></i>
              <span>Utilisateurs</span>
          </li>
      </ul>
  </div>
</body>
