<body>
  <div class="sidebar">
      <div class="logo">
          <img src="/assets/logoo2.png" alt="Logo">
      </div>
      <ul class="menu">
          <!-- Accueil (Admin Dashboard) -->
          <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fas fa-home" routerLink="/admin"></i>
              <span><a routerLink="/admin">Accueil</a></span>
          </li>
          <!-- Publications -->
          <li class="menu-item" routerLinkActive="active">
              <i class="fas fa-newspaper"routerLink="/adminpub" ></i>
              <span><a routerLink="/adminpub">Publications</a></span>
          </li>
          <!-- Déclarations -->
          <li class="menu-item" routerLinkActive="active">
              <i class="fas fa-user-friends" routerLink="/admindec"></i>
              <span><a routerLink="/admindec">Déclarations</a></span>
          </li>
          <!-- Utilisateurs -->
          <li class="menu-item" routerLinkActive="active">
              <i class="fas fa-users"routerLink="/adminuser" ></i>
              <span><a routerLink="/adminuser">Utilisateurs</a></span>
          </li>
          <!-- Statistiques -->
           <li class="menu-item" routerLinkActive="active">
              <i class="fas fa-chart-bar"routerLink="/adminstats"></i>
              <span><a routerLink="/adminstats">Statistiques</a></span>
           </li>
      </ul>
  </div>
</body>
