<app-sideheaders></app-sideheaders>

<div class="graph">
  <div class="graphone">
    <app-publication-type-chart></app-publication-type-chart><br>
    <h3 style="color: #31287C;text-align: center;"> Nombre de publications par type de Document</h3>
  </div>
  <div class="graphtwo">
    <app-email-activity-chart></app-email-activity-chart><br>
    <h3 style="color: #31287C;padding-top: 10px; text-align: center;"> Nombre de Mails envoyés par type de mail</h3>
  </div>
</div><br>
<div class="graph">
  <div class="graphone">  <app-status-bar-chart></app-status-bar-chart><br>
    <h3 style="color: #31287C;padding-top: 10px; text-align: center;"> Nombre de Documents récupérés par rapport aux Non récupérés</h3>
    <br><br><br><br>
  </div>

  <div class="graphtwo">
    <app-restitution-chart></app-restitution-chart><br>
    <h3 style="color: #31287C;padding-top: 10px; text-align: center;"> Nombre de Demandes de Restitutions faites par rapport aux nombre de publications restantes</h3>
    <br><br><br><br><br>
  </div>
  </div>
<div class="carte" style="margin-left: 25%;">
  <app-map></app-map>
</div>

  <app-evolution-chart></app-evolution-chart><br><br><br>

