<app-navbar></app-navbar>
<main>
    <div class="publication-form">
        <div class="form-section">
            <img src="/assets/logoo4.png" alt="DocTrack Logo" class="logo">
            <form [formGroup]="publishForm" (ngSubmit)="onSubmit()">
                <div class="file-input">
                    <label for="image">Image ou document</label>
                    <input type="file" id="image" (change)="onFileChange($event)" required>
                </div>
                <div class="double-input">
                    <div>
                        <label for="OwnerLastName">Nom propriétaire</label>
                        <input type="text" id="OwnerLastName" formControlName="OwnerLastName" placeholder="Saisir nom">
                    </div>
                    <div>
                        <label for="OwnerFirstName">Prénom propriétaire</label>
                        <input type="text" id="OwnerFirstName" formControlName="OwnerFirstName" placeholder="Saisir prénom">
                    </div>
                </div>
                <div class="double-input">
                    <div>
                        <label for="DocIdentification">Numéro Identification</label>
                        <input type="text" id="DocIdentification" formControlName="DocIdentification" placeholder="Saisir Identification">
                    </div>
                    <div>
                        <label for="Location">Lieu de Trouvaille</label>
                        <input type="text" id="Location" formControlName="Location" placeholder="Saisir lieu">
                    </div>
                </div>
                <div class="single-input">
                  <label for="documentType">Type de Document</label>
                  <select id="documentType" formControlName="documentType">
                      <option *ngFor="let type of documentTypes" [value]="type.id">{{ type.name }}</option>
                  </select>
              </div>
                <div class="single-input">
                    <label for="statut">Statut</label>
                    <select id="statut" formControlName="statut">
                        <option value="non récupéré">Non récupéré (par défaut)</option>
                        <!-- Autres statuts ici -->
                    </select>
                </div>
                <button type="submit">Publier</button>
            </form>
        </div>
        <div class="image-section">
            <img src="/assets/imageformpub.png" alt="Exemple de document">
        </div>
    </div>
</main>
