<app-navbar></app-navbar>

<div class="container">
  <div *ngIf="documentDetails" class="card-document">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img *ngIf="documentDetails.image" class="document-img" [src]="documentDetails.image" alt="Document Image" />
        </div>
      </div>


      <div class="col-lg-6 col-md-6 col-sm-12 details-section">
        <div class="document-info">
          <p>Publié par {{ documentDetails.user.FirstName }} {{ documentDetails.user.LastName }} | {{ documentDetails.created_at | date }}</p>
          <p>📞 <strong>{{ documentDetails.user.Phone }}</strong></p>
          <p><strong>Prénom propriétaire :</strong> {{ documentDetails.OwnerFirstName }}</p>
          <p><strong>Nom propriétaire :</strong> {{ documentDetails.OwnerLastName }}</p>
          <p><strong>Lieu :</strong> {{ documentDetails.Location }}</p>
          <p><strong>Identification :</strong> {{ documentDetails.identification }}</p>
          <button class="btn restore-btn">Restituer</button>
        </div>

        <div class="action-buttons">
          <span class="status-icon">❌</span>
        </div>
      </div>


    </div>



    <div class="comment-section">
      <input class="comment-input" placeholder="Écrire un commentaire...">
      <button class="btn submit-btn">Envoyer</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
