* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-document {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.image-container {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;
}

.document-img {
  width: 100%;
  object-fit:contain;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.details-section {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.document-info p {
  margin: 10px 0;
  color: #333;

}

.action-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 4rem;
}


.error {
  color: red;
}
.status {
  margin-top: 30%;
}

.encouragement-container {
  background-color: #F6A500;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.restore-btn {
  padding: 10px 20px;
  background-color: #31287C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-section {
  margin-top: 20px;
  display: flex;
}

.comment-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  height: 40px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #31287C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
}

.comments {
  margin-top: 20px;
}

.comment {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Responsiveness for mobile */
@media (max-width: 768px) {
  .action-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .status {
    margin-top: 65%;

  }
  .encouragement-container {
    margin-top:15px;
    width: 300px;
  }


  .restore-btn {
    width: 100%;
  }

  .comment-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .submit-btn {
    width: 100%;
  }
  .container {
    width: 100%;
}

 }
 .image-container {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Assurez-vous que tout débordement masqué ne soit pas visible */
}

.image {
  display: block;
  max-width: 100%;
}

.blur-overlay {
  position: absolute;
  top:158px; /* Positionnez à zéro si vous ne voulez pas que cela couvre tout */
  left: 147px;
  width: 72%; /* Changez la largeur à 100% pour inclure toute l'image */
  height: 54%; /* Changez la hauteur à 100% pour inclure toute l'image */
  background: rgba(199, 196, 196, 0.944); /* Ajustez la couleur et la transparence à votre convenance */
  pointer-events: none; /* Assurez-vous de permettre aux clics de passer à travers */
  border-radius: 0 0 10px 0;
}

/* Media Query pour mobile */
@media (max-width: 768px) { /* Changez la largeur max si nécessaire */
  .blur-overlay {
    top: 94px;
    left: 90px;
    background: rgb(199, 196, 196, 0.944);


  }


}
