<app-navbar></app-navbar>
<section class="Formulaire">
     <!-- Loader overlay -->
     <div *ngIf="isLoading" class="loader-overlay">
      <l-ring-2
        size="40"
        stroke="5"
        stroke-length="0.55"
        bg-opacity="0.1"
        speed="0.8"
        color="#F6A500"
      ></l-ring-2>
    </div>
  <div class="container" id="form">
    <div class="form-container">
      <h2>Réinitialiser le mot de passe</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="test">
        <label for="email" class="required">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Entrez votre email"
          [class.invalid]="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched"
          required
        />
        <!-- Message d'erreur -->
        <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="error">
          Veuillez entrer une adresse email valide.
        </div>

        <!-- Boutons -->
        <button type="submit" [disabled]="isSubmitting">Envoyer</button>
        <button type="button" (click)="onCancel()">Annuler</button>
      </form>
    </div>
  </div>

  <div class="carteImage">
    <img src="/assets/Drapeau_national1.png" alt="CBAO" class="carte" />
  </div>
</section>
