<app-navbar></app-navbar>
<section class="Formulaire">
  <div class="container" id="form">
    <div class="form-container">
      <h2>Réinitialiser le mot de passe</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="test">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Entrez votre email"
          [class.invalid]="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched"
          required
        />
        <!-- Message d'erreur -->
        <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="error">
          Veuillez entrer une adresse email valide.
        </div>

        <!-- Boutons -->
        <button type="submit" [disabled]="isSubmitting">Envoyer</button>
        <button type="button">Annuler</button>
      </form>

      <!-- Messages de retour -->
      <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>
  </div>

  <div class="carteImage">
    <img src="/assets/Drapeau_national1.png" alt="CBAO" class="carte" />
  </div>
</section>
